# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

variables:
  dockerRegistryServiceConnection: 'dockerRegistryServiceConnection'
  imageRepository: 'my-portfolio'
  containerRegistry: 'prete88'
  dockerfilePath: '**/Dockerfile'
  tag: '$(Build.BuildId)'
  KUBECONFIG: '$(Build.SourcesDirectory)/.kube/config'

steps:
- task: NodeTool@0
  inputs:
    versionSpec: '14.x'
  displayName: 'Install Node.js'

- script: |
    npm install
    npm run build
  displayName: 'Install dependencies and build'

- task: Docker@2
  inputs:
    containerRegistry: '$(dockerRegistryServiceConnection)'
    repository: '$(containerRegistry)/$(imageRepository)'
    command: 'buildAndPush'
    Dockerfile: '$(dockerfilePath)'
    tags: |
      $(tag)

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(System.DefaultWorkingDirectory)'
    Contents: '**/.kube/config'
    TargetFolder: '$(Build.SourcesDirectory)/.kube'

- script: |
    kubectl set image deployment/my-portfolio my-portfolio=$(containerRegistry)/$(imageRepository):$(tag)
  displayName: 'Update Kubernetes deployment'
  env:
    KUBECONFIG: $(KUBECONFIG)